@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="moveon_home_container">
    <a asp-controller="" asp-action="View_Category_Products" class="moveon_home__btn"><span>Apply Request </span></a>
</div>