* {
    font-family: 'Open Sans', sans-serif;
}
/*Style Sheet for Home Page*/
.moveon_home_container {
    position: relative;
    width: 53%;
    margin: 40px auto;
    border: 1px solid rgba(7, 38, 138);
    box-shadow: 4px 14px 18px rgba(7, 38, 138);
    height: 520px;
    background-image: url('../lib/Assets/Home_Page.gif');
}

/*Button*/
.moveon_home__btn {
    position: absolute;
    top: 110%;
    left: 50%;
    text-decoration: none;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(7, 38, 138);
    color: #FFFFFF;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 14px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

    .moveon_home__btn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 25%;
        left: 75%;
        transition: 0.5s;
    }

    .moveon_home__btn:hover {
        color: white;
        background-color: #4095c6;
        text-decoration: none;
    }

        .moveon_home__btn:hover span {
            padding-right: 25px;
        }

            .moveon_home__btn:hover span:after {
                opacity: 1;
                right: 0;
            }

/*Responsive Media Queries*/
@media(max-width:1100px) {
    .moveon_home_container {
        width: 75%;
    }

    .moveon_home__btn span:after {
        left: 85%;
    }
}

@media(max-width:600px) {
    .moveon_home_container {
        width: 80%;
        height: 270px;
        background-size: contain;
    }

    .moveon_home__btn {
        top: 120%;
        left: 50%;
    }
}

/*Style Sheet for Single View Request*/
/*View Container*/
.moveon_singleview_container {
    width: 80%;
    margin: 40px auto;
    border: 1px solid rgba(7, 38, 138);
    border-radius: 20px;
    box-shadow: 4px 14px 18px rgba(7, 38, 138);
    text-align: center;
    padding: 20px;
}

    /*View Header*/
    .moveon_singleview_container h1 {
        color: rgba(7, 38, 138);
        margin-top: 10px;
        font-size: 36px;
        font-weight: bold;
        border-bottom: 10px solid #4095c6;
    }

/*Style Sheet for List View Request*/
/*View Container*/
.moveon_views h1 {
    color: rgba(7, 38, 138);
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.moveon_slidercontrol {
    position: relative;
    display: flex;
    box-shadow: 4px 14px 18px rgba(7, 38, 138);
    background-color: #4095c6;
    height: 50px;
    width: 80%;
    overflow: hidden;
    margin: 30px auto;
    justify-content: space-between;
    border: 1px solid rgb(7,38,138);
    border-radius: 5px;
}

    .moveon_slidercontrol .slide {
        position: relative;
        height: 100%;
        width: 100%;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        z-index: 1;
    }

    .moveon_slidercontrol .moveon_slidertext {
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        border-radius: 5px;
        background: rgb(7,38,138);
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    }

    .moveon_slidercontrol input[type="radio"] {
        display: none;
    }

#international:checked ~ .moveon_slidertext {
    left: 50%;
}

#international:checked ~ label.international {
    color: #fff;
    cursor: default;
    user-select: none;
}

#international:checked ~ label.domestic {
    background-color: #4095c6;
}

#domestic:checked ~ label.international {
    background-color: #4095c6;
}

#domestic:checked ~ label.domestic {
    cursor: default;
    user-select: none;
}

/*Table View*/
.moveon_table {
    width: 80%;
    display: table;
    margin: 40px auto;
    border: 1px solid rgba(7, 38, 138);
    border-radius: 20px;
    box-shadow: 4px 14px 18px rgba(7, 38, 138);
    padding: 10px;
}

.moveon_table_header {
    display: table-header-group;
    background-color: #4095c6;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.moveon_table_header_cell {
    display: table-cell;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(7, 38, 138);
}

.moveon_table_body {
    display: table-row-group;
    color: rgb(7,38,138);
    font-weight: bold;
    font-size: 24px;
}

.moveon_table_body_row {
    display: table-row;
}

.moveon_table_body_cell {
    display: table-cell;
    text-align: center;
    border: 1px solid #4095c6;
}


/*Final Split form boxes*/
.moveon_singleview_split_cols {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    color: #4095c6;
}

.moveon_singleview_rows {
    margin: 10px 5px;
    align-items: flex-end;
    text-align: left;
    width: 90%;
    display: block;
    border-radius: 20px;
    border: 1px solid rgba(7, 38, 138);
    height: fit-content;
    padding:20px;
}

.basic {
    margin-top: 12%;
}

.moveon_singleview_item {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 10px;
    display: inline-flex;
}

    .moveon_singleview_item h3 {
        margin-bottom: 0;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.6;
    }

.moveon_singleview_item_caption {
    margin-left: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
    display: inline-flex;
}

    .moveon_singleview_item_caption h2 {
        margin-bottom: 0;
        font-size: 26px;
        font-weight: bold;
        line-height: 1.6;
    }

.moveon_key {
    color: rgba(7, 38, 138);
}

.moveon_value {
    color: #4095c6;
}

.moveon_back_button {
    display: inline-block;
    padding: 0.6em 1.2em;
    margin: 0 0.3em 0.3em 10em;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: rgba(7, 38, 138);
    text-align: center;
    transition: all 0.2s;
}


    .moveon_back_button:hover {
        text-decoration: none;
        color: white;
        background-color: #4095c6;
    }

/*Responsive Media Queries*/
@media(max-width:1100px) {

    .moveon_singleview_container {
        padding: 0px;
        width: 100%;
    }

    .moveon_singleview_split_cols {
        display: block;
        margin: 0;
    }

    .moveon_singleview_rows {
        margin: 30px 0px;
        width: 100%;
    }

    .basic {
        margin-top: 20px;
    }

    .moveon_singleview_item {
        margin-left: 10px;
    }

    .moveon_singleview_item_caption {
        margin-left: 10px;
    }

    .moveon_back_button {
        margin-left: 4em;
    }
}
@media(max-width:600px) {

    .moveon_singleview_container {
        padding: 0px;
        width: 100%;
        border: none;
        box-shadow: none;
    }

    .moveon_singleview_split_cols {
        display: block;
        border: none;
        box-shadow: none;
        margin: 0;
    }

    .moveon_singleview_rows {
        margin: 10px 0px;
        width: 100%;
    }

    .basic {
        margin-top: 20px;
    }

    .moveon_singleview_item {
        margin-left: 10px;
    }

    .moveon_singleview_item_caption {
        margin-left: 10px;
    }

    .moveon_back_button {
        margin-left: 2em;
    }
}
