<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">
    <title>@ViewData["Title"] - MoveOn_Application_Mvc</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/moveon_stylesheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img style="width:78px;" src="~/lib/Assets/MoveOn-logos.jpeg" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color: #4095c6; font-weight: bold; font-size: 24px;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Request" asp-action="View_Domestic_Requests" style="color: #4095c6; font-weight: bold; font-size: 24px;">View Requests</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
            @RenderBody()
    <footer class="border-top text-muted footer">
        <div class="container" style="text-align: center;">
            <p style="color: rgb(7,38,138); font-weight: bold; font-size: 18px;">&copy; 2021 - MoveOn</p>
            <a asp-area="" asp-controller="Home" asp-action="Index" style="color: #4095c6;">Home</a>&nbsp;|&nbsp;
            <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: #4095c6;">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
